# [dbo].[__EFMigrationsHistory]

In [0]:
USE [Final_IBODY]
GO

In [0]:
/****** Object:  Table [dbo].[__EFMigrationsHistory]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__EFMigrationsHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK___EFMigrationsHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[AspNetRoleClaims]

In [0]:
/****** Object:  Table [dbo].[AspNetRoleClaims]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoleClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoleClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[AspNetRoles]

In [0]:
/****** Object:  Table [dbo].[AspNetRoles]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetRoles](
	[Id] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](256) NULL,
	[NormalizedName] [nvarchar](256) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetRoles] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[AspNetUserClaims]

In [0]:
/****** Object:  Table [dbo].[AspNetUserClaims]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserClaims](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[UserId] [nvarchar](450) NOT NULL,
	[ClaimType] [nvarchar](max) NULL,
	[ClaimValue] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserClaims] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[AspNetUserLogins]

In [0]:
/****** Object:  Table [dbo].[AspNetUserLogins]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserLogins](
	[LoginProvider] [nvarchar](450) NOT NULL,
	[ProviderKey] [nvarchar](450) NOT NULL,
	[ProviderDisplayName] [nvarchar](max) NULL,
	[UserId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserLogins] PRIMARY KEY CLUSTERED 
(
	[LoginProvider] ASC,
	[ProviderKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[AspNetUserRoles]

In [0]:
/****** Object:  Table [dbo].[AspNetUserRoles]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserRoles](
	[UserId] [nvarchar](450) NOT NULL,
	[RoleId] [nvarchar](450) NOT NULL,
 CONSTRAINT [PK_AspNetUserRoles] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[AspNetUsers]

In [0]:
/****** Object:  Table [dbo].[AspNetUsers]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUsers](
	[Id] [nvarchar](450) NOT NULL,
	[FullName] [nvarchar](max) NULL,
	[Gender] [nvarchar](max) NULL,
	[Dob] [date] NULL,
	[UserName] [nvarchar](256) NULL,
	[NormalizedUserName] [nvarchar](256) NULL,
	[Email] [nvarchar](256) NULL,
	[NormalizedEmail] [nvarchar](256) NULL,
	[EmailConfirmed] [bit] NOT NULL,
	[PasswordHash] [nvarchar](max) NULL,
	[SecurityStamp] [nvarchar](max) NULL,
	[ConcurrencyStamp] [nvarchar](max) NULL,
	[PhoneNumber] [nvarchar](max) NULL,
	[PhoneNumberConfirmed] [bit] NOT NULL,
	[TwoFactorEnabled] [bit] NOT NULL,
	[LockoutEnd] [datetimeoffset](7) NULL,
	[LockoutEnabled] [bit] NOT NULL,
	[AccessFailedCount] [int] NOT NULL,
 CONSTRAINT [PK_AspNetUsers] PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[AspNetUserTokens]

In [0]:
/****** Object:  Table [dbo].[AspNetUserTokens]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[AspNetUserTokens](
	[UserId] [nvarchar](450) NOT NULL,
	[LoginProvider] [nvarchar](450) NOT NULL,
	[Name] [nvarchar](450) NOT NULL,
	[Value] [nvarchar](max) NULL,
 CONSTRAINT [PK_AspNetUserTokens] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC,
	[LoginProvider] ASC,
	[Name] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[bao_cao_vi_pham]

In [0]:
/****** Object:  Table [dbo].[bao_cao_vi_pham]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[bao_cao_vi_pham](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_bao_cao_id] [int] NULL,
	[loai_doi_tuong] [varchar](20) NULL,
	[doi_tuong_id] [int] NULL,
	[ly_do] [nvarchar](max) NULL,
	[thoi_gian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[binh_luan]

In [0]:
/****** Object:  Table [dbo].[binh_luan]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[binh_luan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_binh_luan_id] [int] NULL,
	[loai_doi_tuong] [varchar](20) NULL,
	[doi_tuong_id] [int] NULL,
	[noi_dung] [nvarchar](max) NULL,
	[thoi_gian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[chuyen_gia]

In [0]:
/****** Object:  Table [dbo].[chuyen_gia]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[chuyen_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan_id] [int] NULL,
	[ho_ten] [nvarchar](255) NULL,
	[so_nam_kinh_nghiem] [int] NULL,
	[so_chung_chi] [nvarchar](100) NULL,
	[chuyen_mon] [nvarchar](max) NULL,
	[gioi_thieu] [nvarchar](max) NULL,
	[trang_thai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[danh_gia]

In [0]:
/****** Object:  Table [dbo].[danh_gia]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[danh_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[lich_hen_id] [int] NULL,
	[nguoi_dung_id] [int] NULL,
	[chuyen_gia_id] [int] NULL,
	[diem_so] [int] NULL,
	[nhan_xet] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[giao_dich]

In [0]:
/****** Object:  Table [dbo].[giao_dich]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[giao_dich](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[hoa_don_id] [int] NULL,
	[phuong_thuc_id] [int] NULL,
	[so_tien] [decimal](10, 2) NULL,
	[thoi_gian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[goi_dich_vu]

In [0]:
/****** Object:  Table [dbo].[goi_dich_vu]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[goi_dich_vu](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](255) NULL,
	[mo_ta] [nvarchar](max) NULL,
	[gia] [decimal](10, 2) NULL,
	[thoi_han_ngay] [int] NULL,
	[danh_cho] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[hinh_thuc_tu_van]

In [0]:
/****** Object:  Table [dbo].[hinh_thuc_tu_van]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hinh_thuc_tu_van](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [varchar](20) NULL,
	[thoi_luong_phut] [int] NULL,
	[gia_co_ban] [decimal](10, 2) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[hoa_don]

In [0]:
/****** Object:  Table [dbo].[hoa_don]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoa_don](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan_id] [int] NULL,
	[goi_dich_vu_id] [int] NULL,
	[tong_tien] [decimal](10, 2) NULL,
	[thoi_gian_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[hoc_van_chuyen_gia]

In [0]:
/****** Object:  Table [dbo].[hoc_van_chuyen_gia]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[hoc_van_chuyen_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chuyen_gia_id] [int] NULL,
	[truong] [nvarchar](255) NULL,
	[bang_cap] [nvarchar](255) NULL,
	[chuyen_nganh] [nvarchar](255) NULL,
	[nam_tot_nghiep] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[lich_hen]

In [0]:
/****** Object:  Table [dbo].[lich_hen]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[lich_hen](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_dung_id] [int] NULL,
	[chuyen_gia_id] [int] NULL,
	[hinh_thuc_id] [int] NULL,
	[thoi_gian_bat_dau] [datetime] NULL,
	[thoi_gian_ket_thuc] [datetime] NULL,
	[tom_tat] [nvarchar](max) NULL,
	[trang_thai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[nguoi_dung]

In [0]:
/****** Object:  Table [dbo].[nguoi_dung]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan_id] [int] NULL,
	[ho_ten] [nvarchar](255) NULL,
	[ngay_sinh] [date] NULL,
	[gioi_tinh] [varchar](10) NULL,
	[muc_tieu_tam_ly] [nvarchar](max) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[phuong_thuc_chung]

In [0]:
/****** Object:  Table [dbo].[phuong_thuc_chung]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phuong_thuc_chung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[ten] [nvarchar](50) NOT NULL,
	[mo_ta] [nvarchar](max) NULL,
	[trang_thai] [varchar](10) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[phuong_thuc_nguoi_dung]

In [0]:
/****** Object:  Table [dbo].[phuong_thuc_nguoi_dung]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[phuong_thuc_nguoi_dung](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan_id] [int] NOT NULL,
	[phuong_thuc_id] [int] NOT NULL,
	[chi_tiet] [nvarchar](255) NULL,
	[da_xac_thuc] [bit] NULL,
	[ngay_tao] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[tai_khoan]

In [0]:
/****** Object:  Table [dbo].[tai_khoan]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tai_khoan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[email] [varchar](255) NOT NULL,
	[mat_khau] [varchar](255) NOT NULL,
	[vai_tro] [varchar](20) NULL,
	[trang_thai] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[thoi_gian_ranh_chuyen_gia]

In [0]:
/****** Object:  Table [dbo].[thoi_gian_ranh_chuyen_gia]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thoi_gian_ranh_chuyen_gia](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[chuyen_gia_id] [int] NULL,
	[thu_trong_tuan] [int] NULL,
	[tu] [time](7) NULL,
	[den] [time](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO

# [dbo].[thong_bao]

In [0]:
/****** Object:  Table [dbo].[thong_bao]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[thong_bao](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[tai_khoan_id] [int] NULL,
	[loai] [varchar](20) NULL,
	[noi_dung] [nvarchar](max) NULL,
	[da_doc_luc] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[tin_nhan]

In [0]:
/****** Object:  Table [dbo].[tin_nhan]    Script Date: 4/28/2025 11:31:13 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tin_nhan](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[nguoi_gui_id] [int] NULL,
	[nguoi_nhan_id] [int] NULL,
	[noi_dung] [nvarchar](max) NULL,
	[thoi_gian] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO

# [dbo].[__EFMigrationsHistory]

In [0]:
INSERT [dbo].[__EFMigrationsHistory] ([MigrationId], [ProductVersion]) VALUES (N'20250417172639_InitIdentity', N'9.0.4')
GO

# [dbo].[AspNetRoles]

In [0]:
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'61b13d0d-0eae-453a-87f9-6d6e3e7b815c', N'quan_tri', N'QUAN_TRI', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'9626269c-2863-4133-901f-791e03b28b28', N'string', N'STRING', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'c16976a5-7902-438d-9808-2b5f24476fb2', N'nguoi_dung', N'NGUOI_DUNG', NULL)
INSERT [dbo].[AspNetRoles] ([Id], [Name], [NormalizedName], [ConcurrencyStamp]) VALUES (N'F4D390A9-3CBB-40B6-AB17-4F3CC87FC317', N'chuyen_gia', N'CHUYEN_GIA', NULL)
GO

# [dbo].[AspNetUserRoles]

In [0]:
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'b8c9c66c-ea21-44c5-b30d-7e6319a61ec2', N'61b13d0d-0eae-453a-87f9-6d6e3e7b815c')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'aa843420-2294-4dd6-9505-6c618358597a', N'9626269c-2863-4133-901f-791e03b28b28')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'2133491b-6c53-4e7d-8929-25357579ec4c', N'c16976a5-7902-438d-9808-2b5f24476fb2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'464f1e5d-0ed5-4eca-8a7d-83b6e5a46dcc', N'c16976a5-7902-438d-9808-2b5f24476fb2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'51d9d870-9415-4519-8050-44822407dfca', N'c16976a5-7902-438d-9808-2b5f24476fb2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'672ce7c8-b6da-456c-a4d3-0cec70a2d380', N'c16976a5-7902-438d-9808-2b5f24476fb2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a2e68c0c-524f-4e4d-b343-309124437d90', N'c16976a5-7902-438d-9808-2b5f24476fb2')
INSERT [dbo].[AspNetUserRoles] ([UserId], [RoleId]) VALUES (N'a2e68c0c-524f-4e4d-b343-309124437d90', N'F4D390A9-3CBB-40B6-AB17-4F3CC87FC317')
GO

# [dbo].[AspNetUsers]

In [0]:
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Gender], [Dob], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'2133491b-6c53-4e7d-8929-25357579ec4c', N'Duy Trường', N'Nam', CAST(N'2025-04-21' AS Date), N'abc@gmail.com', N'ABC@GMAIL.COM', N'abc@gmail.com', N'ABC@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAELiFrILFxX8YaG09UthxXxXoYNmmQX64rwhDYD1zKAGBZAB/ocAuc+YXhrXW0kK4BQ==', N'4JJJ2YHIALWV7KCPTUMGO7RQ7KJ3AIDJ', N'5677e35d-f259-4a87-804c-32bac3e1751f', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Gender], [Dob], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'464f1e5d-0ed5-4eca-8a7d-83b6e5a46dcc', N'trường', NULL, NULL, N'duytruongk22@gmail.com', N'DUYTRUONGK22@GMAIL.COM', N'duytruongk22@gmail.com', N'DUYTRUONGK22@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEH89JNPtQP0mPsOJWsACcYsl+iVGJL8de6QalYSO3LOo5cDQh6MyLYTWQheo+YeZ4A==', N'X3CXIYE6B5W5T5BDTS54LTXNJF5QJGXL', N'3f0e7060-6166-4e48-8661-f4415ac34f36', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Gender], [Dob], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'51d9d870-9415-4519-8050-44822407dfca', N'Alice jk', N'nu', CAST(N'2000-02-27' AS Date), N'alicegmail.com', N'ALICEGMAIL.COM', N'alicegmail.com', N'ALICEGMAIL.COM', 0, N'AQAAAAIAAYagAAAAEDvey4vff0OpBZZgdpPhQz5pZKd1l4qYfURRCVpDLpeezNwWsz2Zy55Ib14HB5tbqw==', N'D5RRJ4MDSU4S7Y6EBIZ7IPOUR6EEVVYA', N'84775ed2-7200-46d0-9f2b-94777449b32a', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Gender], [Dob], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'672ce7c8-b6da-456c-a4d3-0cec70a2d380', N'quyến', NULL, NULL, N'quyen@gmail.com', N'QUYEN@GMAIL.COM', N'quyen@gmail.com', N'QUYEN@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAED6I9vjxIkYxkV8DkxV0xW5SM1jx2xyMwrKwBJR7BnQZltpoOQFZE0qOL9LAizSBHw==', N'LUUD74BL5WELJSTS5TSOQ3EJHNH444BP', N'60928b69-7147-40be-85cf-8b711d23e035', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Gender], [Dob], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'a2e68c0c-524f-4e4d-b343-309124437d90', N'quang', NULL, NULL, N'quang@gmail.com', N'QUANG@GMAIL.COM', N'quang@gmail.com', N'QUANG@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEPU+C8oMmd3Bvalog373Z6M6MCWQK9NkhEcK50MIcjJrp9k3zQpFBVNFHCOgNnBlNQ==', N'ASSKIORM77VILPXRSDFEPWKNEIQC6SWF', N'53b82764-f0d7-4dbe-8f01-bb87c03cb63c', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Gender], [Dob], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'aa843420-2294-4dd6-9505-6c618358597a', N'string', N'string', CAST(N'2025-04-27' AS Date), N'test@gmail.com', N'TEST@GMAIL.COM', N'test@gmail.com', N'TEST@GMAIL.COM', 0, N'AQAAAAIAAYagAAAAEOPw8T3ww1rroDd6RrEUEdw06bVrIaAWxW9TliYk5rpt8j+3OZvdauGUhxzWbu4OJQ==', N'26SX6EPRC6FLQTL54NASNL3FUD6HAXNZ', N'bff4ba1d-15b3-4ac0-93aa-973ae38c86fb', NULL, 0, 0, NULL, 1, 0)
INSERT [dbo].[AspNetUsers] ([Id], [FullName], [Gender], [Dob], [UserName], [NormalizedUserName], [Email], [NormalizedEmail], [EmailConfirmed], [PasswordHash], [SecurityStamp], [ConcurrencyStamp], [PhoneNumber], [PhoneNumberConfirmed], [TwoFactorEnabled], [LockoutEnd], [LockoutEnabled], [AccessFailedCount]) VALUES (N'b8c9c66c-ea21-44c5-b30d-7e6319a61ec2', N'string', N'string', CAST(N'2025-04-27' AS Date), N'admin@123.com', N'ADMIN@123.COM', N'admin@123.com', N'ADMIN@123.COM', 0, N'AQAAAAIAAYagAAAAEN9MK3I4F/tMfqQG5MR3IZuKe9Zo2hTzcC1aBlucuKroBdlmqxMaiuu9QU0e+OStQA==', N'Y2V5JVHZO25Z5XDTT63RJN2GAKTLXKKH', N'44ce4e76-0647-4a0a-8581-a706514a5493', NULL, 0, 0, NULL, 1, 0)
GO

# [dbo].[bao_cao_vi_pham]

In [0]:
SET IDENTITY_INSERT [dbo].[bao_cao_vi_pham] ON 
INSERT [dbo].[bao_cao_vi_pham] ([id], [nguoi_bao_cao_id], [loai_doi_tuong], [doi_tuong_id], [ly_do], [thoi_gian]) VALUES (2, 12, N'nguoi_dung', 18, N'sạo quá sạo', CAST(N'2025-04-28T00:15:54.123' AS DateTime))
SET IDENTITY_INSERT [dbo].[bao_cao_vi_pham] OFF
GO

# [dbo].[chuyen_gia]

In [0]:
SET IDENTITY_INSERT [dbo].[chuyen_gia] ON 
INSERT [dbo].[chuyen_gia] ([id], [tai_khoan_id], [ho_ten], [so_nam_kinh_nghiem], [so_chung_chi], [chuyen_mon], [gioi_thieu], [trang_thai]) VALUES (5, 18, N'Alice JK', 12, N'251231532', N'Tâm Lí tình cảm học đường', N'nhà tư vấn hiện đại', N'xac_thuc')
INSERT [dbo].[chuyen_gia] ([id], [tai_khoan_id], [ho_ten], [so_nam_kinh_nghiem], [so_chung_chi], [chuyen_mon], [gioi_thieu], [trang_thai]) VALUES (7, 20, N'L V Q', 4, N'4635312', N'Tâm lí học hành vi', N'nhà tâm lí đại tài', N'xac_thuc')
SET IDENTITY_INSERT [dbo].[chuyen_gia] OFF
GO

# [dbo].[danh_gia]

In [0]:
SET IDENTITY_INSERT [dbo].[danh_gia] ON 
INSERT [dbo].[danh_gia] ([id], [lich_hen_id], [nguoi_dung_id], [chuyen_gia_id], [diem_so], [nhan_xet]) VALUES (4, 17, 3, 7, 4, N'good')
SET IDENTITY_INSERT [dbo].[danh_gia] OFF
GO

# [dbo].[giao_dich]

In [0]:
SET IDENTITY_INSERT [dbo].[giao_dich] ON 
INSERT [dbo].[giao_dich] ([id], [hoa_don_id], [phuong_thuc_id], [so_tien], [thoi_gian]) VALUES (7, 7, 1, CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-04-28T01:27:38.650' AS DateTime))
INSERT [dbo].[giao_dich] ([id], [hoa_don_id], [phuong_thuc_id], [so_tien], [thoi_gian]) VALUES (8, 9, 1, CAST(250000.00 AS Decimal(10, 2)), CAST(N'2025-04-28T15:35:00.020' AS DateTime))
INSERT [dbo].[giao_dich] ([id], [hoa_don_id], [phuong_thuc_id], [so_tien], [thoi_gian]) VALUES (9, 10, 2, CAST(5000000.00 AS Decimal(10, 2)), CAST(N'2025-04-28T17:07:37.393' AS DateTime))
SET IDENTITY_INSERT [dbo].[giao_dich] OFF
GO

# [dbo].[goi_dich_vu]

In [0]:
SET IDENTITY_INSERT [dbo].[goi_dich_vu] ON 
INSERT [dbo].[goi_dich_vu] ([id], [ten], [mo_ta], [gia], [thoi_han_ngay], [danh_cho]) VALUES (1, N'Gói cơ bản 1 tháng', N'Tư vấn 4 buổi video call / tháng', CAST(900000.00 AS Decimal(10, 2)), 30, N'nguoi_dung')
SET IDENTITY_INSERT [dbo].[goi_dich_vu] OFF
GO

# [dbo].[hinh_thuc_tu_van]

In [0]:
SET IDENTITY_INSERT [dbo].[hinh_thuc_tu_van] ON 
INSERT [dbo].[hinh_thuc_tu_van] ([id], [ten], [thoi_luong_phut], [gia_co_ban]) VALUES (1, N'chat', 30, CAST(150000.00 AS Decimal(10, 2)))
INSERT [dbo].[hinh_thuc_tu_van] ([id], [ten], [thoi_luong_phut], [gia_co_ban]) VALUES (2, N'video', 45, CAST(250000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [dbo].[hinh_thuc_tu_van] OFF
GO

# [dbo].[hoa_don]

In [0]:
SET IDENTITY_INSERT [dbo].[hoa_don] ON 
INSERT [dbo].[hoa_don] ([id], [tai_khoan_id], [goi_dich_vu_id], [tong_tien], [thoi_gian_tao]) VALUES (7, 12, NULL, CAST(150000.00 AS Decimal(10, 2)), CAST(N'2025-04-28T01:27:38.487' AS DateTime))
INSERT [dbo].[hoa_don] ([id], [tai_khoan_id], [goi_dich_vu_id], [tong_tien], [thoi_gian_tao]) VALUES (9, 12, NULL, CAST(250000.00 AS Decimal(10, 2)), CAST(N'2025-04-28T15:35:00.017' AS DateTime))
INSERT [dbo].[hoa_don] ([id], [tai_khoan_id], [goi_dich_vu_id], [tong_tien], [thoi_gian_tao]) VALUES (10, 21, NULL, CAST(5000000.00 AS Decimal(10, 2)), CAST(N'2025-04-28T17:07:37.350' AS DateTime))
SET IDENTITY_INSERT [dbo].[hoa_don] OFF
GO

# [dbo].[lich_hen]

In [0]:
SET IDENTITY_INSERT [dbo].[lich_hen] ON 
INSERT [dbo].[lich_hen] ([id], [nguoi_dung_id], [chuyen_gia_id], [hinh_thuc_id], [thoi_gian_bat_dau], [thoi_gian_ket_thuc], [tom_tat], [trang_thai]) VALUES (17, 3, 7, 2, CAST(N'2025-04-28T15:16:00.000' AS DateTime), CAST(N'2025-04-28T15:45:00.000' AS DateTime), N'newTest', N'da_thanh_toan')
INSERT [dbo].[lich_hen] ([id], [nguoi_dung_id], [chuyen_gia_id], [hinh_thuc_id], [thoi_gian_bat_dau], [thoi_gian_ket_thuc], [tom_tat], [trang_thai]) VALUES (18, 9, 7, 1, CAST(N'2025-04-28T17:08:00.000' AS DateTime), CAST(N'2025-04-28T17:10:00.000' AS DateTime), N'tư vấn cho Quyến', N'da_thanh_toan')
SET IDENTITY_INSERT [dbo].[lich_hen] OFF
GO

# [dbo].[nguoi_dung]

In [0]:
SET IDENTITY_INSERT [dbo].[nguoi_dung] ON 
INSERT [dbo].[nguoi_dung] ([id], [tai_khoan_id], [ho_ten], [ngay_sinh], [gioi_tinh], [muc_tieu_tam_ly]) VALUES (3, 12, N'Tôn Duy Trường', CAST(N'2004-05-06' AS Date), N'nam', N'Tư vấn tâm lý học đường')
INSERT [dbo].[nguoi_dung] ([id], [tai_khoan_id], [ho_ten], [ngay_sinh], [gioi_tinh], [muc_tieu_tam_ly]) VALUES (9, 21, N'quyến', NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[nguoi_dung] OFF
GO

# [dbo].[phuong_thuc_chung]

In [0]:
SET IDENTITY_INSERT [dbo].[phuong_thuc_chung] ON 
INSERT [dbo].[phuong_thuc_chung] ([id], [ten], [mo_ta], [trang_thai]) VALUES (1, N'Momo', N'Ví Điện Tử', N'hien')
INSERT [dbo].[phuong_thuc_chung] ([id], [ten], [mo_ta], [trang_thai]) VALUES (2, N'ZaloPay', N'Ví Điện Tử', N'hien')
SET IDENTITY_INSERT [dbo].[phuong_thuc_chung] OFF
GO

# [dbo].[tai_khoan]

In [0]:
SET IDENTITY_INSERT [dbo].[tai_khoan] ON 
INSERT [dbo].[tai_khoan] ([id], [email], [mat_khau], [vai_tro], [trang_thai]) VALUES (12, N'duytruongk22@gmail.com', N'hashed_by_identity', N'nguoi_dung', N'hoat_dong')
INSERT [dbo].[tai_khoan] ([id], [email], [mat_khau], [vai_tro], [trang_thai]) VALUES (15, N'admin@123.com', N'hashed_by_identity', N'quan_tri', N'hoat_dong')
INSERT [dbo].[tai_khoan] ([id], [email], [mat_khau], [vai_tro], [trang_thai]) VALUES (18, N'alice@gmail.com', N'hashed_by_identity', N'chuyen_gia', N'hoat_dong')
INSERT [dbo].[tai_khoan] ([id], [email], [mat_khau], [vai_tro], [trang_thai]) VALUES (20, N'quang@gmail.com', N'hashed_by_identity', N'chuyen_gia', N'hoat_dong')
INSERT [dbo].[tai_khoan] ([id], [email], [mat_khau], [vai_tro], [trang_thai]) VALUES (21, N'quyen@gmail.com', N'hashed_by_identity', N'nguoi_dung', N'hoat_dong')
SET IDENTITY_INSERT [dbo].[tai_khoan] OFF
GO

# [UQ__phuong_t__DC107AB1F0C16E62]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__phuong_t__DC107AB1F0C16E62]    Script Date: 4/28/2025 11:31:13 PM ******/
ALTER TABLE [dbo].[phuong_thuc_chung] ADD UNIQUE NONCLUSTERED 
(
	[ten] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ__phuong_t__FFAAD5A0994770B4]

In [0]:
/****** Object:  Index [UQ__phuong_t__FFAAD5A0994770B4]    Script Date: 4/28/2025 11:31:13 PM ******/
ALTER TABLE [dbo].[phuong_thuc_nguoi_dung] ADD UNIQUE NONCLUSTERED 
(
	[tai_khoan_id] ASC,
	[phuong_thuc_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [UQ__tai_khoa__AB6E6164DF8A630F]

In [0]:
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__tai_khoa__AB6E6164DF8A630F]    Script Date: 4/28/2025 11:31:13 PM ******/
ALTER TABLE [dbo].[tai_khoan] ADD UNIQUE NONCLUSTERED 
(
	[email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO

# [DF__lich_hen__trang___245D67DE]

In [0]:
ALTER TABLE [dbo].[lich_hen] ADD  DEFAULT ('cho_thanh_toan') FOR [trang_thai]
GO

# [DF__phuong_th__trang__123EB7A3]

In [0]:
ALTER TABLE [dbo].[phuong_thuc_chung] ADD  DEFAULT ('hien') FOR [trang_thai]
GO

# [DF__phuong_th__da_xa__17F790F9]

In [0]:
ALTER TABLE [dbo].[phuong_thuc_nguoi_dung] ADD  DEFAULT ((0)) FOR [da_xac_thuc]
GO

# [DF__phuong_th__ngay___18EBB532]

In [0]:
ALTER TABLE [dbo].[phuong_thuc_nguoi_dung] ADD  DEFAULT (getdate()) FOR [ngay_tao]
GO

# [FK_AspNetRoleClaims_AspNetRoles_RoleId]

In [0]:
ALTER TABLE [dbo].[AspNetRoleClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetRoleClaims] CHECK CONSTRAINT [FK_AspNetRoleClaims_AspNetRoles_RoleId]
GO

# [FK_AspNetUserClaims_AspNetUsers_UserId]

In [0]:
ALTER TABLE [dbo].[AspNetUserClaims]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserClaims] CHECK CONSTRAINT [FK_AspNetUserClaims_AspNetUsers_UserId]
GO

# [FK_AspNetUserLogins_AspNetUsers_UserId]

In [0]:
ALTER TABLE [dbo].[AspNetUserLogins]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserLogins] CHECK CONSTRAINT [FK_AspNetUserLogins_AspNetUsers_UserId]
GO

# [FK_AspNetUserRoles_AspNetRoles_RoleId]

In [0]:
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId] FOREIGN KEY([RoleId])
REFERENCES [dbo].[AspNetRoles] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetRoles_RoleId]
GO

# [FK_AspNetUserRoles_AspNetUsers_UserId]

In [0]:
ALTER TABLE [dbo].[AspNetUserRoles]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserRoles] CHECK CONSTRAINT [FK_AspNetUserRoles_AspNetUsers_UserId]
GO

# [FK_AspNetUserTokens_AspNetUsers_UserId]

In [0]:
ALTER TABLE [dbo].[AspNetUserTokens]  WITH CHECK ADD  CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId] FOREIGN KEY([UserId])
REFERENCES [dbo].[AspNetUsers] ([Id])
ON DELETE CASCADE
GO
ALTER TABLE [dbo].[AspNetUserTokens] CHECK CONSTRAINT [FK_AspNetUserTokens_AspNetUsers_UserId]
GO

# [FK__bao_cao_v__nguoi__71D1E811]

In [0]:
ALTER TABLE [dbo].[bao_cao_vi_pham]  WITH CHECK ADD FOREIGN KEY([nguoi_bao_cao_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [FK__binh_luan__nguoi__5812160E]

In [0]:
ALTER TABLE [dbo].[binh_luan]  WITH CHECK ADD FOREIGN KEY([nguoi_binh_luan_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [FK__chuyen_gi__tai_k__403A8C7D]

In [0]:
ALTER TABLE [dbo].[chuyen_gia]  WITH CHECK ADD FOREIGN KEY([tai_khoan_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [FK__danh_gia__chuyen__5441852A]

In [0]:
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD FOREIGN KEY([chuyen_gia_id])
REFERENCES [dbo].[chuyen_gia] ([id])
GO

# [FK__danh_gia__lich_h__52593CB8]

In [0]:
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD FOREIGN KEY([lich_hen_id])
REFERENCES [dbo].[lich_hen] ([id])
GO

# [FK__danh_gia__nguoi___534D60F1]

In [0]:
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO

# [FK__giao_dich__hoa_d__6E01572D]

In [0]:
ALTER TABLE [dbo].[giao_dich]  WITH CHECK ADD FOREIGN KEY([hoa_don_id])
REFERENCES [dbo].[hoa_don] ([id])
GO

# [FK_giao_dich_phuong_thuc_chung]

In [0]:
ALTER TABLE [dbo].[giao_dich]  WITH CHECK ADD  CONSTRAINT [FK_giao_dich_phuong_thuc_chung] FOREIGN KEY([phuong_thuc_id])
REFERENCES [dbo].[phuong_thuc_chung] ([id])
GO
ALTER TABLE [dbo].[giao_dich] CHECK CONSTRAINT [FK_giao_dich_phuong_thuc_chung]
GO

# [FK__hoa_don__goi_dic__6754599E]

In [0]:
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD FOREIGN KEY([goi_dich_vu_id])
REFERENCES [dbo].[goi_dich_vu] ([id])
GO

# [FK__hoa_don__tai_kho__66603565]

In [0]:
ALTER TABLE [dbo].[hoa_don]  WITH CHECK ADD FOREIGN KEY([tai_khoan_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [FK__hoc_van_c__chuye__440B1D61]

In [0]:
ALTER TABLE [dbo].[hoc_van_chuyen_gia]  WITH CHECK ADD FOREIGN KEY([chuyen_gia_id])
REFERENCES [dbo].[chuyen_gia] ([id])
GO

# [FK__lich_hen__chuyen__4E88ABD4]

In [0]:
ALTER TABLE [dbo].[lich_hen]  WITH CHECK ADD FOREIGN KEY([chuyen_gia_id])
REFERENCES [dbo].[chuyen_gia] ([id])
GO

# [FK__lich_hen__hinh_t__4F7CD00D]

In [0]:
ALTER TABLE [dbo].[lich_hen]  WITH CHECK ADD FOREIGN KEY([hinh_thuc_id])
REFERENCES [dbo].[hinh_thuc_tu_van] ([id])
GO

# [FK__lich_hen__nguoi___4D94879B]

In [0]:
ALTER TABLE [dbo].[lich_hen]  WITH CHECK ADD FOREIGN KEY([nguoi_dung_id])
REFERENCES [dbo].[nguoi_dung] ([id])
GO

# [FK__nguoi_dun__tai_k__3C69FB99]

In [0]:
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD FOREIGN KEY([tai_khoan_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [FK__phuong_th__phuon__17036CC0]

In [0]:
ALTER TABLE [dbo].[phuong_thuc_nguoi_dung]  WITH CHECK ADD FOREIGN KEY([phuong_thuc_id])
REFERENCES [dbo].[phuong_thuc_chung] ([id])
GO

# [FK__phuong_th__tai_k__160F4887]

In [0]:
ALTER TABLE [dbo].[phuong_thuc_nguoi_dung]  WITH CHECK ADD FOREIGN KEY([tai_khoan_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [FK__thoi_gian__chuye__46E78A0C]

In [0]:
ALTER TABLE [dbo].[thoi_gian_ranh_chuyen_gia]  WITH CHECK ADD FOREIGN KEY([chuyen_gia_id])
REFERENCES [dbo].[chuyen_gia] ([id])
GO

# [FK__thong_bao__tai_k__5FB337D6]

In [0]:
ALTER TABLE [dbo].[thong_bao]  WITH CHECK ADD FOREIGN KEY([tai_khoan_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [FK__tin_nhan__nguoi___5BE2A6F2]

In [0]:
ALTER TABLE [dbo].[tin_nhan]  WITH CHECK ADD FOREIGN KEY([nguoi_gui_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [FK__tin_nhan__nguoi___5CD6CB2B]

In [0]:
ALTER TABLE [dbo].[tin_nhan]  WITH CHECK ADD FOREIGN KEY([nguoi_nhan_id])
REFERENCES [dbo].[tai_khoan] ([id])
GO

# [CK__bao_cao_v__loai___72C60C4A]

In [0]:
ALTER TABLE [dbo].[bao_cao_vi_pham]  WITH CHECK ADD CHECK  (([loai_doi_tuong]='nguoi_dung' OR [loai_doi_tuong]='bai_viet' OR [loai_doi_tuong]='binh_luan'))
GO

# [CK__binh_luan__loai___59063A47]

In [0]:
ALTER TABLE [dbo].[binh_luan]  WITH CHECK ADD CHECK  (([loai_doi_tuong]='chuyen_gia' OR [loai_doi_tuong]='bai_viet'))
GO

# [CK__chuyen_gi__trang__412EB0B6]

In [0]:
ALTER TABLE [dbo].[chuyen_gia]  WITH CHECK ADD CHECK  (([trang_thai]='tu_choi' OR [trang_thai]='xac_thuc' OR [trang_thai]='cho_duyet'))
GO

# [CK__danh_gia__diem_s__5535A963]

In [0]:
ALTER TABLE [dbo].[danh_gia]  WITH CHECK ADD CHECK  (([diem_so]>=(1) AND [diem_so]<=(5)))
GO

# [CK__goi_dich___danh___6383C8BA]

In [0]:
ALTER TABLE [dbo].[goi_dich_vu]  WITH CHECK ADD CHECK  (([danh_cho]='chuyen_gia' OR [danh_cho]='nguoi_dung'))
GO

# [CK__hinh_thuc_t__ten__4AB81AF0]

In [0]:
ALTER TABLE [dbo].[hinh_thuc_tu_van]  WITH CHECK ADD CHECK  (([ten]='call' OR [ten]='video' OR [ten]='chat'))
GO

# [CK__lich_hen__trang___25518C17]

In [0]:
ALTER TABLE [dbo].[lich_hen]  WITH CHECK ADD CHECK  (([trang_thai]='da_huy' OR [trang_thai]='da_thanh_toan' OR [trang_thai]='cho_thanh_toan'))
GO

# [CK__nguoi_dun__gioi___3D5E1FD2]

In [0]:
ALTER TABLE [dbo].[nguoi_dung]  WITH CHECK ADD CHECK  (([gioi_tinh]='khac' OR [gioi_tinh]='nu' OR [gioi_tinh]='nam'))
GO

# [CK__phuong_th__trang__114A936A]

In [0]:
ALTER TABLE [dbo].[phuong_thuc_chung]  WITH CHECK ADD CHECK  (([trang_thai]='an' OR [trang_thai]='hien'))
GO

# [CK__tai_khoan__trang__398D8EEE]

In [0]:
ALTER TABLE [dbo].[tai_khoan]  WITH CHECK ADD CHECK  (([trang_thai]='cho_duyet' OR [trang_thai]='khoa' OR [trang_thai]='hoat_dong'))
GO

# [CK__tai_khoan__vai_t__38996AB5]

In [0]:
ALTER TABLE [dbo].[tai_khoan]  WITH CHECK ADD CHECK  (([vai_tro]='quan_tri' OR [vai_tro]='chuyen_gia' OR [vai_tro]='nguoi_dung'))
GO

# [CK__thoi_gian__thu_t__47DBAE45]

In [0]:
ALTER TABLE [dbo].[thoi_gian_ranh_chuyen_gia]  WITH CHECK ADD CHECK  (([thu_trong_tuan]>=(0) AND [thu_trong_tuan]<=(6)))
GO

# [CK__thong_bao__loai__60A75C0F]

In [0]:
ALTER TABLE [dbo].[thong_bao]  WITH CHECK ADD CHECK  (([loai]='bao_cao' OR [loai]='lich_hen' OR [loai]='he_thong'))
GO